<!--app-diretiva-ngif></app-diretiva-ngif-->
<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->
<!--app-diretiva-ngfor></app-diretiva-ngfor-->
<!--app-diretiva-ngclass></app-diretiva-ngclass-->
<!--app-diretiva-ngstyle></app-diretiva-ngstyle-->
<!--app-operador-elvis></app-operador-elvis-->
<!--app-exemplo-ngcontent>
    This is a modified jumbotron that occupies the entire horizontal space of its parent
</app-exemplo-ngcontent-->
<!--app-exemplo-ngcontent>
    <div class="titulo">Titulo</div>
    <div class="conteudo">Conteudo</div>
    <div class="conteudo">Conteudo</div>
</app-exemplo-ngcontent-->
<app-diretivas-customizadas></app-diretivas-customizadas>